@model List<Student>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div class="container-xxl py-5 bg-primary hero-header">

    <div class="row g-5 py-5">
        <div class="col-12 text-center">

        </div>
    </div>

</div>

<div class="wow fadeInUp" data-wow-delay="0.1s">
    <h1 class="text-center mb-5">Öğrenci Ara</h1>

</div>
@* ******Filtrelemeye uygun sonuç bulunamadığında geriye uyarı döndürmektedir *******@
@if (Model.Count() == 0)
{
    <div class="col col-md-6" style="margin-left:auto;margin-right:auto;">
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Eşleşen Sonuç Bulunamadı!</strong> Lütfen farklı kriterlerde filtreleme yaparak arama yapmayı deneyin.

        </div>
    </div>

}

<div class="row justify-content-center">
    <div class="col-lg-7">
        <div class="wow fadeInUp" data-wow-delay="0.3s">


            <form method="get">

                <div class="row g-3">

                    <div class="col-md-6">
                        <div class="form-floating">
                            <select class="form-control" name="Gender" id="Gender">

                                <option value="">~ Cinsiyet Seçiniz ~</option>
                                <option value="Erkek">Erkek</option>
                                <option value="Kadın">Kadın</option>

                            </select>
                        </div>
                    </div>


                    <div class="col-md-6">
                        <div class="form-floating">
                            <select asp-items="@ViewBag.vlu" class="form-control" name="University">
                                <option value="">~ Üniversite Seçiniz ~</option>
                            </select>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <div class="form-floating">
                            <select asp-items="@ViewBag.vlf" class="form-control" name="Faculty">
                                <option value="">~ Fakülte Seçiniz ~</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">

                            <select asp-items="@ViewBag.vls" class="form-control" name="Section">
                                <option value="">~ Bölüm Seçiniz ~</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">

                            <select asp-items="@ViewBag.vlu" class="form-control" name="Maritial">
                                <option value="">~ Aile Medeni Durumu Seçiniz ~</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">

                            <select  class="form-control" name="Death">
                                <option value="">~ Aile Sağ/Vefat Durumu Seçiniz ~</option>
                                <option value="İkiside Hayatta">Her İkiside Hayatta</option>
                                <option value="Baba Ölü">Yalnız Anne Hayatta </option>
                                <option value="Anne Ölü">Yalnız Baba Hayatta  </option>
                                <option value="Her ikiside ölü">Her İkiside Vefat Etmiş </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">

                            <select  class="form-control" name="Work">
                                <option value="">~ Aile Çalışma Durumu Seçiniz ~</option>
                                <option value="İkiside Çalışıyor">Anne-Baba Çalışıyor</option>
                                <option value="Anne Çalışıyor">Yalnız Anne Çalışıyor </option>
                                <option value="Baba Çalışıyor">Yalnız Baba Çalışıyor  </option>
                                <option value="Her ikiside çalışmıyor">Her İkiside Çalışmıyor </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating">

                            <select class="form-control" name="Physcial">
                                <option value="">~ Fiziksel Engel Durumu Seçiniz ~</option>
                                <option value="VAR">Fiziksel Engel VAR</option>
                                <option value="YOK">Fiziksel Engel YOK</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn rounded-pill py-2 px-5 m-b-35" style="margin-left:auto;margin-right:auto;background-color:darkorange;color:white" type="submit">Filtrele <i class="fa fa-user"></i></button>
                    </div>
                </div>
            </form>
            <br />

        </div>
    </div>
</div>


<div class="row g-4">
    @{int counter = 0; }

    @foreach (var x in Model)
    {

        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="team-item bg-light rounded">
                <div class="text-center border-bottom p-4">
                    <img class="img-fluid rounded-circle mb-4" src="/UserImages/@x.Image" alt="">
                    <h5>@x.FirstName @x.LastName</h5>
                    <span><b>@x.University.UniversityName</b></span>
                    <br />
                    <span><b>Fakülte </b>@x.Faculty.FacultyName</span>
                    <br />
                    <span><b>Bölüm </b>@x.Section.Name</span>

                    <br />
                    <span><b>IBAN: </b><p style="color:red">@x.IBAN</p> </span>
                </div>
                @{ string modalvalue = "a" + counter;}
                <div class="d-flex justify-content-center p-4">
                    <button class="btn rounded-pill py-2 px-5 m-b-35" data-toggle="modal" data-target="#@modalvalue" style="margin-left:auto;margin-right:auto;background-color:darkorange;color:white" type="submit">Burs Ver <i class="fa fa-credit-card"></i></button>

                </div>
            </div>
        </div>



        <!-- Modal -->
        <div class="modal fade" id="@modalvalue" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3>Ödeme Bilgileri</h3>
                    </div>

                    <div class="modal-body">
                        İlgili öğrencinin banka hesap bilgileri aşağıda belirtilmiştir.<br>
                        Burs ödemesini yaptıktan sonra ödeme dekontunu bizimle paylaştığınız takdirde öğrencimizin
                        ödeme aldığı onaylanacaktır
                        <div class="border-bottom">
                            
                        </div>
                        <h5>Banka Hesap Bilgileri</h5>
                        <b>Alıcı Adı Soyadı: </b> @x.FirstName @x.LastName
                        <br />

                        <b>IBAN:</b><p class="text-danger">@x.IBAN</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
                        <button type="button" class="btn btn-primary">Ödeme Dekontu Paylaş</button>
                    </div>
                </div>
            </div>
        </div>
        counter++;
    }


</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    JQuery(document).ready(function ($) {
        $("#filter").submit(function () {
            $(this).find(":input").filter(function () { return !this.value; }).attr("disabled", "disabled");
            return true;
        });
        $("form").find(":input").prop("disabled", false);
    });
</script>
